
<img src="../../assets/yugiohimg.png" class="img1" alt="cinque terre">
<hr>
<ul class ="list-group">
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">Search by name</li>
    <li routerLink="attribute" routerLinkActive="active" class="list-group-item">By attribute</li>
    <li routerLink="race"  routerLinkActive="active" class="list-group-item">By race</li>
    <li routerLink="cardset" routerLinkActive="active" class="list-group-item">By card set</li>
</ul>